@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{ 
    --colorNaranjaCabecera:#f2a13e;
    --blanco:#f5f7fa;
    --paddingPrincipal:20px;
    --espacio:30px;
    --negro:#1a2639;
    --paddingBtn :padding: 4px;
 }
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 body{ font-family: 'Roboto', sans-serif;
        background-image: url('../images/pattern.jpg');
  }
  a{text-decoration: none;
    color: inherit;

   }
   ul{list-style: none;

    }
   /* CABECERA INICIO */

   .cabecera, .contenedor{ 
       max-width: 1000px;
       margin:0 auto;
   }
   .cabecera{ 
       color: var(--colorNaranjaCabecera);
       display: flex;
       justify-content: space-between;
       align-items: center;
    }



 .contenedor{ border-radius: 10px 10px 0 0 ;
                background-color: var(--blanco);
}

   /* CABECERA FIN */
   /* NAV */
   .nav{background-color: var(--colorNaranjaCabecera);
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 20px 50px;
        border-radius: 10px 10px 0 0 ;
        margin-bottom: 30px;

   }
   .nav-lista,
    .nav-form{ flex-grow: 1;

     }
   .nav-lista{ 
             display:flex;
              gap: 20px; 
               

   }
   .nav-form{display: flex;
            justify-content: flex-end

   } 
   .nav-lista_item{ border-right: 1px solid var(--blanco);

    }
   .nav-lista_item-link{color: var(--blanco);
                         font-weight: bold;
                         padding: 20px 15px;


  }
  .nav-lista_item-link:hover{text-decoration: underline;

   }
/* FORM INICIO */

.nav-form_input,
.nav-form_boton{padding: 4px;

 }

/* FORM FIN */

/* SLIDER INICIO */

.slider{text-align: center;
        margin-bottom: 30px;

 }
/* SLIDER FIN */

.principal{ display:grid;
            grid-template-columns: 250px 1fr;
            padding:0 var(--paddingPrincipal);
             margin-bottom: var(--espacio);
            


 }
.principal-categorias{ padding:0 var(--espacio);

 }
 .categorias-lista_item{ border-bottom:2px dotted var(--negro) ;

  }
  .categorias{ line-height: 2rem;

   }
 /* PRODUCTOS INICIO */
.principal-productos{  display: grid;
                       grid-template-columns: repeat(2,1fr);
                       grid-template-rows: repeat(2,1fr);
                       gap:var(--paddingPrincipal) ;
                     

 }
 .producto{    display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: .5rem;

  }
 .producto-info-y-foto-box{ display:flex;
                           

 }
 .producto-parrafo{ padding: 1rem;
                   line-height: 1.5rem    
  }
 /* PRODUCTOS FIN */


/*PRINCIPAL INICIO */
/*NEWS INICIO*/
.news{max-width: 940px;
      border: 1px solid grey;
      margin: 0 auto;
      background-image: linear-gradient(to bottom, #f9fcff, #e6e8ea, #d4d4d6, #c1c1c2, #aeaeae);
      border-radius: .3rem;
      padding: 10px 40px;
      display: flex;
      align-items: center;
      margin-bottom: var(--espacio);
      /* justify-content: space-between; */

 }
.new-img{ 

 }
.news-texto{ flex-grow: 1;
            padding-left: var(--espacio);
 }
 .news-texto_p{padding-left: var(--espacio); 

  }
 .news-form{

  }
  .news-form_submit{ padding: 2.5px;
                     border: none;
                     font-weight: bold;
                     background:none;

   }
   .news-form_submit:hover{cursor: grabbing;

    }
/* NEWS FIN  */


/*FOOTER INICIO*/
.footer{   /* display:flex;
   position: relative; */
    background-color: rgb(223, 221, 221);
   
   display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    padding: 2rem;
    padding-bottom: .5rem;
    grid-template-rows: 2fr 1fr; 

 }
.footer-copyright{ 

 }
.footer-dir-hong-kong{ 

 }
.footer-dir-bs-as{ border-left:2px solid rgb(88, 87, 87) ;
                  padding-left: 1rem;

 }
 .footer-diseñado-por{  grid-row: 2/3;
                        grid-column: 4/5;
                        align-self: end;

 }

/*FOOTER FIN*/
/*PRINCIPAL FIN */